<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>118196721366-ltki6flhvl0qo4k8k1kbc3dmti71u8c8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.118196721366-ltki6flhvl0qo4k8k1kbc3dmti71u8c8</string>
	<key>API_KEY</key>
	<string>AIzaSyD7yMNpeynHAUvsqow5LZ8wfTllwqM_0Sc</string>
	<key>GCM_SENDER_ID</key>
	<string>118196721366</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterLoginApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-login-app-b9d99</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-login-app-b9d99.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:118196721366:ios:6b82747756251621ad9b77</string>
</dict>
</plist>